.navBar {
  color: white;
  background-color: #023646;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

.logo {
  height: 30vh;
}

a {
  text-decoration: none;
  color: white;
}

.MuiButton-label {
  font-size: medium;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #023646;
  min-height: 50px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart p {
  background-color: rgb(8, 4, 32);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px;
}
