.navBar {
  color: white;
  background-color: #023646;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

.logo {
  height: 30vh;
}

a {
  text-decoration: none;
}

.MuiButton-label {
  font-size: medium;
}
