.navBar {
  color: white;
  background-color: #023646;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

.logo {
  height: 30vh;
}

a {
  text-decoration: none;
}

.MuiButton-label {
  font-size: medium;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.activeStyle {
  font-weight: "bold";
  border-bottom: "5px solid black";
  font-size: "x-large";
}
